body {
  background-color: hsla(190, 100%, 90%, 1.0);
  font-family: Lora, sans-serif;
  margin: 10px;
}

h1, .bottom h2, nav, footer, article {
  padding: 1vh 2vw;
}

h1, h2, nav, footer {
  text-align: center;
}

article {
  text-align: justify;
  border: 1px solid black;
  border-radius: 25px;
  margin-right: 1vw;
}

aside {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-top: 10px;
  margin-left: 250px;
}

div.ws {
  display: flex;
  width: 100vw;
  margin: 0 auto;
  justify-content: center;
}

section.bottom img {
  /*margin-left: 150px;*/
  display: inline-block;
}

img.dog {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  height: auto;
}

img.football {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  height: auto;
}

header {
  border: 1px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

@media {}

/* A element start */
a {
  color: hsla(100, 0%, 30%, 1);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* A element end */
nav a {
  font-size: 1.9rem;
  margin: 0 1.5vw;
}

footer {
  font-size: 1.5rem;
}

section.form {}

@media only screen and (max-width: 600px) {
  section.top {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 600px) {
  section.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) {
  section.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Form start */
form {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  width: 500px;
}

label {
  margin: 1vh 1vw 0 1vw;
}

input, select, textarea {
  margin: 0 1vw 0 1vw
}

@media (min-width: 600px) {
  form {
    grid-template-columns: 1fr 3fr;
  }

  legend {
    grid-column: 1;
    text-align: right;
  }

  label {
    grid-column: 1;
    text-align: right;
    margin: 1vh 1vw;
  }

  input, select, button {
    grid-column: 2/-1;
    margin: 1vh 1vw;
  }

  input {
    padding: 20px;
    margin: 15px;
  }

  button {
    margin: 10px;
    padding: 20px;
  }
}

/* Form end */